{{outlet}}
<div class="loginWrapper">
<h1>Invoice IWA</h1>
<h4>Log in to your account</h4>
<form class="form">
  <div class="field">
    <label for="email">Email</label><br>
    {{#eui-input size='small'}}
        {{input type="text" name="email" id="email"}}
    {{/eui-input}}  
  </div>
  <div class="field">
    <label for="password">Password</label><br>
    {{#eui-input size='small'}}
        {{input type="password" name="password" id="password"}}
    {{/eui-input}}      
  </div>
  <div class="field checkbox">
    {{#eui-checkbox style="default" }}<label>Remember me</label>{{/eui-checkbox}}     
  </div>
  {{#eui-button type='submit' size='small' action='FAKESUBMIT'}}Submit{{/eui-button}}


</form>
<p>{{link-to 'Forgot password ?' 'authenticated'}}</p>


</div> 